### Visual Studio Code ###
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
*.code-workspace

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
gen/

### Tests ###
codex_versions/
py_for_pc/TestForOpenCV/
inc/OpenCV-MinGW-Build-OpenCV-4.5.5-x64/
cpp/
build/
py_for_pc/venv_yolo/
bin/
*.db
### yolo ###
yolov8n.pt